footer#footer.row
      .footer-section4
        // Footer Section 4 starts from here
        .footer-wrap
          .container-fluid
            .row
              .col-sm-12
                .copyright-text
                  | Copyright © 2007-15 CommonFloor.com. All rights reserved.